<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p th:if="${name=='Aytekin'}">My name is Aytekin</br></p>
<p th:if="${name=='Aytekin'}">My age is 28</p>
<p th:if="${name=='Murat'}">My height is 1.80</p>
<p th:if="${name=='Aytekin'}">My height is 1.75</p>
<p th:if="${name=='Salih'}">My height is 1.75</p>
<p th:if="${name=='Yusuf'}">I live in London</p>
<p th:if="${name=='Aytekin'}">I live in Van</p>
<p th:if="${name=='Kahrman'}">I live in İstanbul</p>
</body>
</html>