<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utility Methods</title>
</head>
<body>
    <p th:text="${#strings.containsIgnoreCase(string, 'SUN')}"></p>
    <p th:text="${#strings.containsIgnoreCase(string, 'laughter')}"></p>
    <p th:text="${#strings.containsIgnoreCase(string, 'SUN')}?'This word contains sun':'This word does not contain sun'"></p>
    <p th:text="${#strings.containsIgnoreCase(string, 'Aytekin')}?'Say my name': 'Say your name'"></p>
    
</body>
</html>